@import '~vuetify/src/stylus/main'
import '@fortawesome/fontawesome-free/css/all.css' // Ensure you are using css-loader

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  overflow: auto;
  $font-family = 'Roboto', sans-serif,
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-3 {
  font-size: 3rem;
}

.font-size-4 {
  font-size: 4rem;
}

.font-size-5 {
  font-size: 5rem;
}

.full-height {
  min-height: 100vh;
}

.dull-text {
  opacity: 0.7;
}

.w-100 {
  width: 100%;
}

.position-relative {
  position: relative
}

.position-absolute {
  position: absolute
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.match-parent-height {
  min-height: inherit;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
